# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

concurrency: 
  group: mailosaur-java
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      MAILOSAUR_BASE_URL: https://mailosaur.com/
      MAILOSAUR_SMTP_HOST: mailosaur.net
      MAILOSAUR_SMTP_PORT: 2525
      MAILOSAUR_API_KEY: ${{ secrets.MAILOSAUR_API_KEY }}
      MAILOSAUR_SERVER: ${{ secrets.MAILOSAUR_SERVER }}
      MAILOSAUR_VERIFIED_DOMAIN: ${{ secrets.MAILOSAUR_VERIFIED_DOMAIN }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        java-version: '8.0.332+9'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Notify on Failure
      uses: skitionek/notify-microsoft-teams@master
      if: ${{ failure() }}
      with:
        webhook_url: ${{ secrets.TEAMS_BUILDS_WEBHOOK }}
        needs: ${{ toJson(needs) }}
        job: ${{ toJson(job) }}
        overwrite: "{ title: `${workflow} failed for ${repository.name}` }"

  build-next:
    if: ${{ always() }}
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      MAILOSAUR_BASE_URL: https://next.mailosaur.com/
      MAILOSAUR_SMTP_HOST: mailosaur.email
      MAILOSAUR_SMTP_PORT: 2525
      MAILOSAUR_API_KEY: ${{ secrets.MAILOSAUR_API_KEY }}
      MAILOSAUR_SERVER: ${{ secrets.MAILOSAUR_SERVER }}
      MAILOSAUR_VERIFIED_DOMAIN: ${{ secrets.MAILOSAUR_VERIFIED_DOMAIN }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        java-version: '8.0.332+9'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Notify on Failure
      uses: skitionek/notify-microsoft-teams@master
      if: ${{ failure() }}
      with:
        webhook_url: ${{ secrets.TEAMS_BUILDS_WEBHOOK }}
        needs: ${{ toJson(needs) }}
        job: ${{ toJson(job) }}
        overwrite: "{ title: `${workflow} failed for ${repository.name}` }"
